pandas
openpyxl
xlrd
PyMuPDF
pdf2docx
python-docx
docx2pdf
ffmpeg-python
psutil
openpyxl
PyPDF2
pytesseract
pillow
easyocr
paddlepaddle-gpu 
paddleocr
realesrgan
basicsr>=1.4.2
facexlib>=0.2.5
gfpgan>=1.3.5
numpy
opencv-python
Pillow
torch>=1.7
torchvision --index-url https://download.pytorch.org/whl/cu117
tqdm
